image: python:3.11
#run:
  #script:
  #- pip install twine sphinx-pdj-theme sphinx
  #- python setup.py sdist bdist_wheel
  #- TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine
  #  upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
  #  dist/*
pages:
  script:
  - cd dsipts
  - pip install -e .
  - sphinx-build -b html docs/source docs/build
  - mkdir .public
  - cp -r docs/build/* .public
  - mv .public public
  artifacts:
    paths:
    - public
include:
- template: Security/Secret-Detection.gitlab-ci.yml
